@import url('https://fonts.googleapis.com/css2?family=Acme&display=Pro');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=Pro');
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=Pro');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=Pro');


// fonts

$font1:'Acme', sans-serif;
$font2:'Kaushan Script', cursive;
$font3:'Fredericka the Great', cursive;;
$font4:'Special Elite', cursive;





